*{
  box-sizing: border-box;
}

.logo{
  margin-bottom: 1rem;
}

body{
  background:#80b2e454;
  color:#485e74;
  line-height:1.6;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: 'Rubik Mono One', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Oswald', sans-serif;

  padding:1em;
  background-image: url("../images/background.PNG");
}

.container{
  max-width:1170px;
  margin-left:auto;
  margin-right:auto;
  padding:1em;
}

.brand{
  padding: 1rem;
  text-align: center;
  background: rgba(202, 230, 253, 0.719)
}

.brand span{
  color:#fff;
}

.wrapper{
  box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}

.wrapper > *{
  padding: 1em;
}

.marketing{
  background:#c9e6ff;
}

.contact{
  background:#f9feff;
}

/* FORM STYLES */
.contact form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
}

.contact form label{
  display:block;
}

.contact form p{
  margin:0;
}


.contact form button, .contact form input, .contact form textarea{
  width:100%;
  padding:1em;
  border:1px solid #c9e6ff;
}

.rounded{
  border-radius: 1.75rem!important;
}

.contact form button{
  background:#c9e6ff;
  border:0;
  text-transform: uppercase;
}

.contact form button:hover,.contact form button:focus{
  background:#92bde7;
  color:#fff;
  outline:0;
  transition: background-color 2s ease-out;
}

button {
  background:#c9e6ff;
  width:100%;
  padding:1em;
  border:1px solid #c9e6ff;
  border:0;
  text-transform: uppercase;
}

button:hover, button:focus {
  background:#92bde7;
  color:#fff;
  outline:0;
  transition: background-color 2s ease-out;
}

.push {
  margin-left: 1rem;
}

a {
  color: #485e74
}

a:hover {
  text-decoration: none;
  color: #485e74
}

/* LARGE SCREENS */
@media(min-width:700px){
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > *{
    padding:2em;
  }

  .company-info h3, .company-info ul, .brand{
    text-align: left;
  }
}

@media screen and (max-width: 360px) {

  .container{

  
width: min-content;
  }
}