

body{
background-color: orange;
align-content: space-around; 
font-family: 'Rubik Mono One', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
}

img{
    border-style: ridge;
    background: rgba(0, 0, 0, 0.438);
}

h1{}

.jumbotron{
    background: lightgrey;
}